header {
    background-color: rgb(45, 64, 77);
    overflow: hidden;
    padding: 10px;
    
}
li {
	align-items: center;
    padding: 20px;
    text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	cursor: pointer;
    display: inline;
    float:left;
	//display: inline-block;
    //display: inline-flex;
	// letter-spacing: 3.5px;
	// transition: all 0.5s ease-out;
}

li:hover {
    background-color: white;
    color: #00B4CC;
    border: 3px solid #00B4CC;
    border-radius: 20px;
    
}
.icon {
    width: 50px;
}