
<header>
  <nav class="navbar navbar-dark bg-dark">

  
  <div class="container">
    <ul class="barra">

      
      <li><a href="#" class="atr" [routerLink]="['home']">Home</a></li>
      <li><a href="#" class="atr" [routerLink]="['concesionario-list']">Concesionarios</a></li>
      <li><a href="#" class="atr" [routerLink]="['cars-list']">Coches</a></li>
      <li><a *ngIf="isLogged" href="#" class="atr" [routerLink]="['account']">Favoritos</a></li>
      <li><button *ngIf="isLogged" (click)="logoutUser()">Logout</button></li>
      <li>
        <form class="busqueda">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </li>
      <li>
        <button *ngIf="!isLogged" type="button" class="btn" [routerLink]="['login']">Login</button>
      </li>
      <li>
        <button *ngIf="!isLogged" type="button" class="btn" [routerLink]="['create-user']">Sign-up</button>
      </li>
  

    </ul>




  </div>
</nav>
</header>