<div class="container"> </div>
    <h1>Coches</h1>
<div
class="pagination__container"
>
    <pagination-controls 
        class="pagination"
        (pageChange)="pages = $event"
    ></pagination-controls>
<input placeholder="Filtrar por marca" [(ngModel)]="carMarca" class="form-control me-2 search" type="search" aria-label="Search">
<div class="car-list">
    <app-cars
        *ngFor="let car of cars | filter : carMarca | paginate: {itemsPerPage: 10, currentPage: pages} " 
        [cars]="car"
    >

    </app-cars>

    <div
    class="pagination__container"
>
    <pagination-controls 
        class="pagination"
        (pageChange)="pages = $event"
    ></pagination-controls>
    
</div>




