<form
    *ngIf="carForm"
    (submit)="createNewCar()"
    [formGroup]="carForm">

    <div>
        <label>Marca</label>
        <input
            type="text"
            formControlName="marca"
        >
        <p
            *ngIf="!carForm.get('marca')?.valid
            && carForm.get('marca')?.touched
            && carForm.get('marca')?.errors?.['required']"
        [   ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Modelo</label>
        <input
            type="text"
            formControlName="modelo"
        >
        <p
            *ngIf="!carForm.get('modelo')?.valid
            && carForm.get('modelo')?.touched
            && carForm.get('modelo')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Nuevo</label>
        <input
            type="text"
            formControlName="nuevo"
        >
        <p
            *ngIf="!carForm.get('nuevo')?.valid
            && carForm.get('nuevo')?.touched
            && carForm.get('nuevo')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Concesionario</label>
        <select
            formControlName="concesionario"
        >
            <option default value="Seleccione opción"></option>
            <option></option>
        </select>
        <p
            *ngIf="!carForm.get('concesionario')?.valid
            && carForm.get('concesionario')?.touched
            && carForm.get('concesionario')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Seleccione una opción</p>

        <label>Tipo de motor</label>
        <select
            formControlName="motor"
        >
        <option default value="Seleccione opción"></option>
        <option>Gasolina</option>
        <option>Diesel</option>
        <option>Eléctrico</option>
        <option>Híbrido</option>
        </select>
        <p
            *ngIf="!carForm.get('motor')?.valid
            && carForm.get('motor')?.touched
            && carForm.get('motor')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Tipo de transmisión</label>
        <select
            type="text"
            formControlName="transmision"
        >
        <option default value="Seleccione opción"></option>
        <option>Automatico</option>
        <option>Manual</option>
        </select>
        <p
            *ngIf="!carForm.get('transmision')?.valid
            && carForm.get('transmision')?.touched
            && carForm.get('transmision')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Cilindrada</label>
        <input
            type="number"
            formControlName="cilindrada"
        >
        <p
            *ngIf="!carForm.get('cilindrada')?.valid
            && carForm.get('cilindrada')?.touched
            && carForm.get('cilindrada')?.errors?.['required']"
        [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Carrocería</label>
        <select
            formControlName="carroceria"
        >
        <option default value="Seleccione opción"></option>
        <option>Urbano</option>
        <option>Sedán</option>
        <option>Hatchback</option>
        <option>Descapotable</option>
        <option>Coupe</option>
        <option>Deportivo</option>
        <option>Monovolumen</option>
        <option>Todoterreno</option>
        <option>Suv</option>
        <option>Roadster</option>
        <option>Pickup</option>
        <option>Furgoneta</option>
        </select>
        <p
            *ngIf="!carForm.get('carroceria')?.valid
            && carForm.get('carroceria')?.touched
            && carForm.get('carroceria')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Precio</label>
        <input
            type="text"
            formControlName="precio"
        >
        <p
            *ngIf="!carForm.get('precio')?.valid
            && carForm.get('precio')?.touched
            && carForm.get('precio')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

        <label>Foto</label>
        <input
            type="text"
            formControlName="foto"
        >
        <p
            *ngIf="!carForm.get('foto')?.valid
            && carForm.get('foto')?.touched
            && carForm.get('foto')?.errors?.['required']"
            [ngStyle]="{ color: 'red'}">Rellene el campo</p>

    </div>

    <button
        type="submit"
        [disabled]="!carForm.valid"
    >
        {{ canEdit ? 'Editar coche' : 'Crear coche' }}
    </button>
    
</form>
