<div class="home">
    <div>
        <h1>DriveMe</h1>
    </div>
    <!-- <div class="carousel">

    </div> -->
    <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides; index as i;">
                <img [src]="slide.src" alt="{{slide.title}}" class="d-block w-100" loading="lazy" />
                <c-carousel-caption class="d-none d-md-block">
                    <h3>{{slide.title}}</h3>
                    <p>{{slide.subtitle}}</p>
                </c-carousel-caption>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>

</div>
<div class="equipo">
    <h2>Equipo DriveMe</h2>
    <p>
        Para este último proyecto hemos elegido hacer una web sobre coches, un lugar donde los concesionarios subirán sus coches y los usuarios podrán verlos, añadirlos a favoritos y ponerse en contacto con los vendedores
    </p>
    <p>
        En la creación de este proyecto hemos uilizado en su mayoría Angular y typescrypt
    </p>
    <p>
        Este es el equipo DriveMe:
    </p>
    
    <ul>
        <a href="https://github.com/Rubenprada" target="_blank"><li>Ruben</li></a>
        <a href="https://github.com/Almudena17" target="_blank"><li>Almudena</li></a>
        <a href="https://github.com/snavcas" target="_blank"><li>Sergio</li></a>
        <a href="https://github.com/itsLukos" target="_blank"><li>Luka</li></a>
    </ul>
</div>