body {
    position: relative;
}
footer {
    width: 100%;
  bottom: 0px;
  position: relative;
}
.all {
    width: 100%;
    padding: 10px 25% 10px 25% ;
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(0, 0, 0);
}
.wrap {
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.col {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    height: 10px;
    text-align: center;
    text-decoration: none;
    height: auto;
    margin-bottom: 0;
    
}
h2 {
    font-size: large;
}
a {
    outline: none;
    list-style: none;
  text-decoration: none;
  color: white;
  font-size: small;
}
a:hover {
    color: orange;
}

.cont {
    padding: 15px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    text-align: left ;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.vars_group {
    padding: 10px;
    font-style: italic;
    font-size: xx-small;
    color: rgb(139, 139, 135);
}
