
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> 
<footer class="navbar fixed-bottom navbar-light bg-light">
    <div class="all">
        <div class="wrap">
            <div class="col">
                <h2 class="cont">DriveMe</h2>
                <ul class="cont">
                    <li><a href="/" title="Trabaja con Nosotros">Trabaja con Nosotros</a></li>
                    <li><a href="/" title="Condiciones de uso">Condiciones de uso</a></li>
                    <li><a href="/" title="Acerca de nosotros">Acerca de nosotros</a></li>
                    <li><a href="/" title="Póngase en contacto con nosotros">Póngase en contacto con nosotros</a></li>
                    <li><a href="/" title="Aviso legal">Aviso legal</a></li>
                </ul>
            </div>
            <div class="col">
                <h2 class="cont">Ayuda</h2>
                <ul class="cont">
                    <li><a href="/" title="Financiación">Financiación</a></li>
                    <li><a href="/" title="Garantía">Garantía</a></li>
                    <li><a href="/" title="Postventa">Postventa</a></li>
                </ul>
            </div>
            <div class="col">
                <h2 class="cont">Enlaces</h2>
                <ul class="cont">
                    <li><a href="/" title="Newsletter">Newsletter</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p class="vars_group">Concesionario perteneciente al grupo DriveMe Spain, S.L.U.Como medida de precaución, los valores sobre emisiones de CO2 y consumo incluidos en esta web están en proceso de revisión; una vez finalizado este proceso, se actualizarán dichos valores, en caso de que sea necesario. Gracias por su comprensión.</p>
        </div>

    </div>


</footer>
