<div *ngIf="cars">
  <h1>{{ cars.marca }} {{ cars.modelo }} </h1>
  <img src="{{ cars.foto }}" alt="Card image cap">
  <div class="datos">
    <p>Marca: {{ cars.marca }}</p>
  <p>Motor: {{ cars.motor }}</p>
  <p>Transmision: {{ cars.transmision }}</p>
  <p>Cilindrada: {{ cars.cilindrada }}</p>
  <p>Carrocería: {{ cars.carroceria }}</p>
  <p>Precio: {{ cars.precio }}</p>
  <p>Concesionario: {{ cars.concesionario._id }}</p>
  </div>
  

  <button (click)="navigateToCarsList()" class="btn">Volver al listado de coches</button>


</div>