<div *ngIf="cars">
  <h1>{{ cars.marca }} {{ cars.modelo }} </h1>
  <div class="img-container">
    <img src="{{ cars.foto }}" alt="Card image cap">
  </div>
  
  <div class="datos">
  <p>Marca: {{ cars.marca }}</p>
  <p>Modelo: {{ cars.modelo }}</p>
  <p>Motor: {{ cars.motor }}</p>
  <p>Transmision: {{ cars.transmision }}</p>
  <p>Cilindrada: {{ cars.cilindrada }}</p>
  <p>Carrocería: {{ cars.carroceria }}</p>
  <p>Precio: {{ cars.precio }}</p>
  
  </div>
  

  <button (click)="navigateToCarsList()" class="btn ">Volver al listado de coches</button>


</div>