<div class="cars-card">
    <div *ngIf="cars">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <p class="nombre">
                        {{ cars.marca }} {{ cars.modelo }}
                    </p>
                </mat-card-title>
            </mat-card-header>
            <div class="foto">
                <img src="{{ cars.foto }}" alt="Card image cap">
            </div>
            <div>
                <button (click)="navigateToDetail()" class="btn btn-primary">Mas informacion</button>
                <button (click)="editCar()" class="btn btn-primary">Editar coches</button>
            </div>
        </mat-card>
    </div>
</div>

