body {
    margin-left: 20%;
    margin-right: 20%;
}

.uno {
    display: flex;
    flex-direction: row;
    margin:  1rem 3rem 1rem 3rem;;
}
.card-title {
    text-align: center;
}
button {
    margin:  1rem 3rem 1rem 3rem;
    width: 13rem;
}

.uno:hover {
    border: 3px solid #00B4CC;
}