<div class="cars-card">
    <div *ngIf="cars">
        <mat-card>
            <mat-card-header class="title">
                <mat-card-title >
                    <div >
                        <h2 class="nombre">
                            {{ cars.marca }} {{ cars.modelo }}
                        </h2>
                    </div>

                </mat-card-title>
            </mat-card-header>
            <div class="foto">
                <img src="{{ cars.foto }}" alt="Card image cap"
                class="imageCars">
            </div>
            <div class="buttonContainer">
                <button 
                    (click)="navigateToDetail()" 
                    class="btn btn-primary"
                >Mas informacion</button>
                <button 
                    *ngIf="canEdit"
                    (click)="editCar()" 
                    class="btn btn-primary"
                >Editar coches</button>
            
            </div>
        </mat-card>
    </div>
</div>

