


<div class="concesionarios-card">
    <div *ngIf="concesionario">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <p class="nombre">
                        {{ concesionario.nombre }}
                        
                    </p>
                </mat-card-title>
                

            </mat-card-header>
            <p>{{ concesionario.ccaa }}</p>
            <div>
                <button (click)="navigateToDetail()" class="btn btn-primary">Mas informacion</button>

            </div>
        </mat-card>
    </div>
</div>