:host {
    position: fixed;
    top: 0;
    left: 0;
}

.loading {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    height: 100vh;
    background-color: grey;
    background-image: url(../../../../assets/images/carLoading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}